content .banner {
  background: #242a30;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #242a30, #242f3a);
  /* Standard syntax */ }
  content .banner .is-5 {
    padding: 0; }
    content .banner .is-5 .text-banner-about {
      padding: 8em 0em 4em 5em; }
      content .banner .is-5 .text-banner-about h1 {
        font-family: 'Righteous';
        font-size: 2.75em;
        color: #efefef;
        margin-bottom: .5em; }
      content .banner .is-5 .text-banner-about h2 {
        font-size: 1.15em;
        color: #919191; }
      content .banner .is-5 .text-banner-about h3 {
        margin-top: 1em;
        font-size: 1.5em;
        font-weight: 400;
        color: #dbdbdb;
        font-family: 'Orbitron', sans-serif; }
      content .banner .is-5 .text-banner-about a #sign-up {
        margin: 2em 0 2em 0;
        background: #00cc09;
        color: #ffffff;
        padding: 1em 3em 1em 3em;
        font-size: 16px;
        border: none; }
      content .banner .is-5 .text-banner-about a #sign-up:hover {
        background: #00ff0b;
        transition: .3s; }
  content .banner .is-7 {
    padding: 0; }
    content .banner .is-7 .image {
      height: 100%; }
content .page .is-10 .tab-about {
  margin: 1em 1em 2em 1em;
  padding: 1em; }
  content .page .is-10 .tab-about .tab-1-1 {
    font-weight: 500;
    font-size: 1.25em;
    color: #f4f4f4;
    font-weight: 500;
    padding: 1em;
    background-color: #00cc09;
    font-family: 'Oswald', sans-serif; }
  content .page .is-10 .tab-about .tab-1-1:hover {
    background-color: #00ff0c;
    transition: 0.5s; }
  content .page .is-10 .tab-about .tab-1-2 {
    font-weight: 500;
    font-size: 1.25em;
    color: #f4f4f4;
    font-weight: 500;
    padding: 1em;
    background-color: #4f93c4;
    font-family: 'Oswald', sans-serif; }
  content .page .is-10 .tab-about .tab-1-2:hover {
    background-color: #0094ff;
    transition: 0.5s; }
  content .page .is-10 .tab-about .tab-2-1 {
    font-weight: 500;
    font-size: 1.25em;
    color: #f4f4f4;
    font-weight: 500;
    padding: 1em;
    background-color: #ff8601;
    font-family: 'Oswald', sans-serif; }
  content .page .is-10 .tab-about .tab-2-1:hover {
    background-color: #ffa600;
    transition: 0.5s; }
  content .page .is-10 .tab-about .tab-2-2 {
    font-weight: 500;
    font-size: 1.25em;
    color: #f4f4f4;
    font-weight: 500;
    padding: 1em;
    background-color: #ff3366;
    font-family: 'Oswald', sans-serif; }
  content .page .is-10 .tab-about .tab-2-2:hover {
    background-color: #ff003f;
    transition: 0.5s; }
  content .page .is-10 .tab-about .in-tab div p {
    font-size: 1.15em;
    color: #bcbcbc;
    padding: 1em 0em 0 1em; }
  content .page .is-10 .tab-about .in-tab div a {
    font-size: 1.15em;
    color: #00cc09;
    padding: 2em 1em 1em 1em;
    margin-top: 2em; }
  content .page .is-10 .tab-about .in-tab div a:hover {
    color: #00ff0c;
    transition: 0.3s; }
  content .page .is-10 .tab-about .in-tab div .image {
    padding: 1em; }
content .page .is-10 .about-gshop {
  width: 100%; }
  content .page .is-10 .about-gshop .tab-about-team {
    font-weight: 500;
    font-size: 1.5em;
    color: #f4f4f4;
    font-weight: 500;
    padding: 1em;
    background-color: #ff3300;
    font-family: 'Oswald', sans-serif; }
  content .page .is-10 .about-gshop h2 {
    font-weight: 500;
    font-size: 1.25em;
    color: #c4c4c4;
    font-weight: 500;
    margin: 1em;
    padding-bottom: 1em;
    border-bottom: 1px #828282 solid; }
  content .page .is-10 .about-gshop p {
    margin: 1em;
    color: #b7b7b7; }

/*# sourceMappingURL=about-style.css.map */
