/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 May 2017, 7:48:38 PM
    Author     : coz
*/
.body-news {
  margin-bottom: 3em;
  padding: 0; }
  .body-news .news-image .img-banner .text-banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
    top: 40%; }
    .body-news .news-image .img-banner .text-banner h1 {
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      color: #efefef;
      font-family: 'Jockey One', sans-serif;
      text-shadow: 0px 1px 0px #141414; }
    .body-news .news-image .img-banner .text-banner h2 {
      text-align: center;
      font-size: 25px;
      color: #efefef;
      font-weight: thin;
      font-family: 'Poiret One', cursive; }
    @media only screen and (max-width: 768px) {
      .body-news .news-image .img-banner .text-banner h1 {
        font-size: 20px; }
      .body-news .news-image .img-banner .text-banner h2 {
        font-size: 15px; } }
  .body-news .news-1 {
    padding: 1em;
    margin: 0 2em 0 2em; }
    .body-news .news-1 .tab-new h1 {
      margin-top: 1em;
      color: #efefef;
      font-size: 1em;
      font-weight: 700; }
    .body-news .news-1 .tab-new:hover h1 {
      color: #00cc09;
      transition: .3s; }
  .body-news .news-2 {
    margin: 0 2em 0 2em; }
    .body-news .news-2 .is-8 div .popular {
      margin: 1em;
      color: #f4f4f4;
      font-weight: 500;
      padding: 1em;
      background-color: #00cc09; }
    .body-news .news-2 .is-8 .news-tab {
      padding: 0 1em 0 1em; }
      .body-news .news-2 .is-8 .news-tab .is-8 h1 {
        font-weight: 700;
        color: #efefef; }
      .body-news .news-2 .is-8 .news-tab .is-8 h1:hover {
        color: #00cc09;
        transition: 0.3s; }
      .body-news .news-2 .is-8 .news-tab .is-8 h2 {
        color: #999999; }
      .body-news .news-2 .is-8 .news-tab .is-8 h3 {
        font-size: 14px; }
    .body-news .news-2 .is-8 .showmore {
      text-align: center;
      color: #00cc09;
      font-weight: 700;
      padding: 1em;
      border: 5px #00cc09 solid; }
    .body-news .news-2 .top-upcoming {
      margin: 1em;
      margin-top: 0; }
      .body-news .news-2 .top-upcoming div .text-top-upcoming-game {
        margin: 1em;
        color: #f4f4f4;
        font-weight: 500;
        padding: 1em;
        border-left: 5px solid #00cc09; }
      .body-news .news-2 .top-upcoming .ten-game {
        margin: 2em; }
        .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-1 {
          padding: 0;
          margin: auto; }
          .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-1 .id {
            color: #4f93c4;
            font-weight: 600;
            font-size: 1.5em; }
          @media only screen and (max-width: 999px) and (min-width: 768px) {
            .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-1 .id {
              font-size: 1em; } }
        .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-11 {
          padding: 0; }
          .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-11 .image .text-info-game {
            margin: auto;
            position: absolute;
            padding: 1em;
            bottom: 0px;
            z-index: 888; }
            .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-11 .image .text-info-game h2 {
              color: #f4f4f4;
              font-size: 1em;
              text-shadow: 1px 1px 1px #232323; }
            .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-11 .image .text-info-game h2:hover {
              color: #00cc09;
              transition: .3s; }
            .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-11 .image .text-info-game p {
              color: #dbdbdb;
              font-weight: 300;
              font-size: 0.75em;
              text-shadow: 1px 1px 1px #232323; }
            @media only screen and (max-width: 999px) and (min-width: 768px) {
              .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-11 .image .text-info-game p {
                display: none; }
              .body-news .news-2 .top-upcoming .ten-game .top-upcoming-game .is-11 .image .text-info-game h2 {
                font-size: 0.75em; } }
        .body-news .news-2 .top-upcoming .ten-game .see-all {
          text-align: center; }
          .body-news .news-2 .top-upcoming .ten-game .see-all a {
            color: #00cc09; }
      .body-news .news-2 .top-upcoming div .text-reviews {
        margin: 1em;
        color: #f4f4f4;
        font-weight: 500;
        padding: 1em;
        border-left: 5px solid #00cc09; }
      .body-news .news-2 .top-upcoming .topday-img {
        padding: 0 1em 0 1em; }
      .body-news .news-2 .top-upcoming .game-in-top {
        margin: 0em 1em 0em 1em;
        border-bottom: 1px solid #565656; }
        .body-news .news-2 .top-upcoming .game-in-top .is-8 h1 {
          color: #f4f4f4;
          font-weight: 600;
          font-size: 1em;
          top: 50%; }
        .body-news .news-2 .top-upcoming .game-in-top .is-8 h1:hover {
          color: #00cc09;
          transition: .3s; }
        .body-news .news-2 .top-upcoming .game-in-top .is-4 {
          border-left: 3px solid #565656;
          padding-bottom: 0;
          background-color: #232323; }
          .body-news .news-2 .top-upcoming .game-in-top .is-4 h1 {
            color: #00cc09;
            font-weight: 600;
            font-size: 1em; }
          .body-news .news-2 .top-upcoming .game-in-top .is-4 h2 {
            font-size: 1em;
            font-style: italic; }

/*# sourceMappingURL=news-style.css.map */
